/* Donghua Details */
.dl-breadcrumb-section {
    margin: 10px;
    margin-bottom: 20px;
}

.dl-episode-loading {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.243);
    z-index: 2;
}

.spinner {
    width: 32px;
    height: 32px;
    border: 4px solid #ccc;
    border-top: 4px solid var(--primary-color, #0070f3);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}
